@import forms.EmployeeData
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@(form: Form[EmployeeData])

@helper.form(action = routes.EmployeeController.addEmployee) {
    @helper.inputText(form("name"))
    @helper.inputText(form("salary"))
    @helper.inputText(form("department"))
    @displayGlobalErrors(form)

    <button type="submit">Add new employee</button>
}

@displayGlobalErrors(form: Form[_]) = {
    @if(form.hasGlobalErrors) {
        <dl>
        @for(error <- form.globalErrors) {
            <dd class="error">@error.message</dd>
        }
        </dl>
    }
}