@import services.Employee
@import services.Department
@import forms.EmployeeData
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import services.SalaryCounter
@(message: String, employees: Seq[Employee], departments: Seq[Department], employeeForm: Form[EmployeeData], salaryCounter: SalaryCounter)

@main("Welcome to Employee DB") {
    <h3>Employee DB Main page</h3>
    @displayDepartments(departments)

    @displayEmployees(employees)

    @helpers.employeeForm(employeeForm)

    @displayStats(salaryCounter)
}

@displayDepartments(departments: Seq[Department]) = {
    @if(departments.isEmpty) {
        <h4>No Departments</h4>
    } else {
        <h4>Departments:</h4>
        @for(department <- departments) {
            @displayDepartment(department)
        }
    }
}

@displayEmployees(employees: Seq[Employee]) = {
    @if(employees.isEmpty) {
        <h4>No Employees</h4>
    } else {
        <h4>Employees:</h4>
        @for(employee <- employees) {
            @displayEmployee(employee)
        }
    }
}

@displayDepartment(department: Department) = {
    <p>@department.name</p>
}

@displayEmployee(employee: Employee) = {
    <p>@employee.name, @employee.salary, @employee.department.name</p>
}

@displayStats(salaryCounter: SalaryCounter) = {
    <div>
        <h3>Departments statistics:</h3>
        @displayDepartmentsStats(salaryCounter.avgByDepartments, "Avg salary by department")
        @displayDepartmentsStats(salaryCounter.maxByDepartments, "Max salary by department")
    </div>
}

@displayDepartmentsStats(map: Map[Department, Int], name: String) = {
    <div>
        <h4>@name</h4>
        @for((department, salary) <- map) {
            <p>@department.name: @salary руб</p>
        }
    </div>
}